In [1]:
# ---
# 01_data_loading_exploration.ipynb
# Sandbox: Data Loading & Initial Exploration
# ---

In [ ]:
# %pip install xlrd

Requirement already satisfied: xlrd in /Users/enriquegomeztagle/anaconda3/envs/stats/lib/python3.11/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
DATA_PATH = '../../data/bronze/HubSpot CRM All Contacts Feb 27 2025.xls'

In [9]:
view_head = False
try:
    df = pd.read_excel(DATA_PATH)
    n_cols = df.shape
    n_rows = df.shape[0]
    print("Dataset loaded successfully with {} rows and {} columns.".format(n_rows, n_cols[1]))
    view_head = True
except Exception as e:
    print(f"Error loading dataset: {e}")

Dataset loaded successfully with 10422 rows and 249 columns.

In [10]:
if view_head:
    display(df.head())

,Record ID,First Name,Last Name,¿Cuál es el año de tu auto?,¿Cuál es la marca y modelo de tu auto?,¿Cuál es modelo y año de tu auto?,¿Cuál es tu nombre completo?,¿Cuentas con la factura original del auto?,¿Cuentas con la factura original del auto?v2,¿Tu auto es del año 2010 o más actual?,...,Recent Sales Email Opened Date,Recent Sales Email Replied Date,Rechazo cliente,Rechazo spingo,Record source,Record source detail 1,Record source detail 2,Record source detail 3,Referencias totales,Referente
0,102722040939,Hector,Ponce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaN,NaN,Integration,SpinGo-Chatbot,NaN,NaN,NaN,NaN
1,102729179904,Hector,Ponce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaN,NaN,Integration,SpinGo-Chatbot,NaN,NaN,NaN,NaN
2,102688963980,Hector,Ponce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaN,NaN,Integration,SpinGo-Chatbot,NaN,NaN,NaN,NaN
3,102646482708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaN,NaN,Forms,Subscribe to Blog de SpinGo - Tips sobre empeñ...,NaN,NaN,NaN,NaN
4,102630634618,Erick,Hernandez Castro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaN,NaN,Integration,API Simulator,NaN,NaN,NaN,NaN

In [11]:
df.columns

Index(['Record ID', 'First Name', 'Last Name', '¿Cuál es el año de tu auto?',
       '¿Cuál es la marca y modelo de tu auto?',
       '¿Cuál es modelo y año de tu auto?', '¿Cuál es tu nombre completo?',
       '¿Cuentas con la factura original del auto?',
       '¿Cuentas con la factura original del auto?v2',
       '¿Tu auto es del año 2010 o más actual?',
       ...
       'Recent Sales Email Opened Date', 'Recent Sales Email Replied Date',
       'Rechazo cliente', 'Rechazo spingo ', 'Record source',
       'Record source detail 1', 'Record source detail 2',
       'Record source detail 3', 'Referencias totales', 'Referente'],
      dtype='object', length=249)